{% extends 'base.html.twig' %}

{% block body %}
    <h1>user list</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                 <td>{{ user.streetAddress }}</td>
                 <td>{{ user.city }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
       
    </ul>
      <div id='object'></div>'
   
     <div id='time'></div>
     <div id='rec'></div>
     <div id='pl'></div><div id='stop'></div>
      <div id='slide'></div>
{% endblock %}
